@model taskcore.Models.User

<div class="container">
    <div class="row">
    <div class="col align-self-center">
  
            <div class="form-group">
                <img src="/img/pp.png" width="200" >
            </div>
            <div class="form-group">
                <h1>@Model.Name @Model.Surname</h1>
            </div>

            <div class="form-group">
                <h1>&#64;@Model.Username</h1>
                
            </div>
            <div class="form-group">
                @Model.About
            </div>
            <div class="form-group">
                @if(!ViewBag.IsFriend){
                    <button class="btn btn-primary" >Arkadaş isteği gönder</button>
                }
        </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                         <div class="form-group">
                <h1>@Model.Name @Model.Surname</h1>
            </div>

            <div class="form-group">
                <h1>&#64;@Model.Username</h1>
                
            </div>
            <div class="form-group">
                @Model.About
            </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>